$font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
$primary-color: #068832;
$button-radius: 8px;
$shadow: 0 0 6px rgb(0 0 0 / 14%);
$link-color: #3369f3;
$silverbg-color: #fbfbfb;
$silverstroke-color: #eaeaea;
$chat-selected: #e4fdf1;
$bg_input: #efefef;
$silver_text: #999;
$silver_text_bg: #525252;
$question_bg: #e4fdf1;
