$font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
$primary-color: #068832;
$button-radius: 8px;
$shadow: 0 0 6px rgb(0 0 0 / 14%);
$modal-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%), 0 6px 20px 0 rgba(0 0 9 / 19%);
$bg-modal: rgb(0 0 0 / 14%);
$link-color: #3369f3;
$silverbg-color: #fbfbfb;
$silverstroke-color: #eaeaea;
$chat-selected: #e4fdf1;
$bg-input: #efefef;
$silver-text: #999;
$silver-text-bg: #525252;
$question-bg: #e4fdf1;
$color-name: #1e1e1e;
$avatar-bg-color: #efefef;
$error-color: red;
$success-color: green;
$bg-white: #fff;
