.chats {
    width: 100%;
    height: calc(100vh - 56px);
    border-right: 1px solid $silverstroke-color;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    padding: 0;

    &-upline {
        border-top: 1px solid $silverstroke-color;
        margin: 2px 10px;
    }

    &-item {
        height: 70px;
        padding: 0 10px;

        &__selected {
            background-color: $chat-selected;
        }

        &-block {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding-top: 10px;

            &-photo {
                flex: 0 0 60px;

                &__avatar {
                    width: 50px;
                    height: 50px;
                    background-color: #efefef;
                    border-radius: 50%;
                }
            }

            &-data {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

            &-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &__name {
                    font-family: $font-family;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 13px;
                    color: #1e1e1e;
                }

                &__datetime {
                    font-family: $font-family;
                    font-size: 13px;
                    text-align: center;
                    color: #999;
                }
            }

            &-message {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 4px;

                &__text {
                    flex-grow: 1;
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #999;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &__self {
                    color: black;
                }

                &__unread {
                    flex: 0 0 20px;
                    box-sizing: border-box;
                    font-family: $font-family;
                    font-size: 12px;
                    background-color: $primary-color;
                    width: 20px;
                    height: 20px;
                    color: white;
                    text-align: center;
                    border-radius: 50%;
                    padding-top: 2px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin: 15px auto;
                }
            }
        }
    }
}

.chats::-webkit-scrollbar {
    background: transparent;
}
