
.content {
    width: 100%;
    height: calc(100vh - 56px);
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */


    &-text {
        font-family: $font-family;
        width: 100%;
        text-align: center;
        height: 100px;
        position: relative;
        top: 50%;
        font-size: 12px;
        color: #999999;
    }
}

.content::-webkit-scrollbar {
    width: 0px;
    /* ширина scrollbar'a */
    background: transparent;
    /* опционально */
}