/* stylelint-disable */
@use 'global';
/* stylelint-enable */

.content {
    width: 100%;
    height: calc(100vh - 56px);

    &-text {
        font-family: global.$font-family;
        width: 100%;
        text-align: center;
        height: 100px;
        position: relative;
        top: 50%;
        font-size: 12px;
        color: global.$silver-text;
    }

    &-chat {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 66px);
        padding: 10px;

        &-header {
            flex: 0 0 59px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid global.$silverstroke-color;

            &-userinfo {
                display: flex;
                flex-direction: row;

                &__avatar {
                    background-color: global.$silverstroke-color;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    align-self: center;
                    margin-right: 10px;
                }

                &__name {
                    font-family: global.$font-family;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 13px;
                    text-align: right;
                    color: global.$color-name;
                    align-self: center;
                }
            }

            &-menu {
                box-sizing: border-box;
                width: 30px;
                height: 30px;
                align-self: center;
                border-radius: 50%;
                text-align: center;
                padding-top: 6px;

                &:hover {
                    background-color: global.$silverbg-color;
                }
            }
        }

        &-content {
            flex-grow: 1;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &-date {
                font-family: global.$font-family;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                color: global.$silver-text;
                padding: 20px;
            }

            &-answer {
                &-text {
                    width: 50%;
                    box-sizing: border-box;
                    background-color: global.$silverbg-color;
                    font-family: global.$font-family;
                    padding: 1px 20px 10px;
                    margin-bottom: 10px;
                }

                &__time {
                    font-family: global.$font-family;
                    color: global.$silver-text;
                    font-size: 9px;
                    text-align: right;
                }

                &-image {
                    box-sizing: border-box;
                    float: left;
                    margin-bottom: 10px;

                    &__image {
                        max-width: 100%;
                        float: right;
                    }

                    &__time {
                        font-family: global.$font-family;
                        color: white;
                        font-size: 9px;
                        text-align: center;
                        background-color: global.$silver-text-bg;
                        border-radius: 8px;
                        padding: 3px 5px;
                        width: 37px;
                        height: 13px;
                        float: right;
                        margin-top: -25px;
                        margin-right: 5px;
                    }
                }

                &__image {
                    display: none;
                }
            }

            &-question {
                &-text {
                    float: right;
                    box-sizing: border-box;
                    background-color: global.$question-bg;
                    font-family: global.$font-family;
                    padding: 1px 20px 10px;
                    margin-bottom: 10px;
                    border-radius: 8px;

                    &__text {
                        padding-top: 10px;
                        padding-right: 40px;
                    }
                }

                &__time {
                    font-family: global.$font-family;
                    font-size: 9px;
                    text-align: right;
                    color: global.$link-color;
                    margin-top: -10px;
                }
            }
        }

        &-content::-webkit-scrollbar {
            background: transparent;
        }

        &-action {
            flex: 0 0 55px;
            display: flex;
            border-top: 1px solid global.$silverstroke-color;

            &-upload {
                width: 32px;
                align-self: center;
            }

            &-message {
                flex: 1;
                align-self: center;
                padding: 10px;

                &__input {
                    flex-grow: 1;
                    background: none;
                    padding-left: 15px;
                    border: 0;
                    color: black;
                    font-weight: bold;
                    background-color: global.$bg-input;
                    box-sizing: border-box;
                    width: 100%;
                    height: 32px;
                    border-radius: 20px;
                }

                &__input:focus {
                    outline: none;
                }

                &__input::placeholder {
                    color: global.$silver-text;
                }
            }

            &-send {
                align-self: center;
                width: 28px;
                height: 28px;

                &__button {
                    box-sizing: border-box;
                    background-color: global.$primary-color;
                    width: 28px;
                    height: 28px;
                    text-align: center;
                    border-radius: 50px;
                    border: 0;
                    padding: 0;
                }

                &__image {
                    width: 28px;
                    height: 28px;
                    color: white;
                }
            }
        }
    }
}
