@use 'global';

.error {
    &-box {
        width: 200px;
        height: 190px;
        position: absolute;
        inset: 0;
        margin: auto;
        font-family: global.$font-family;
        text-align: center;
    }

    &-title {
        font-size: 40px;
    }

    &-description {
        padding-top: 10px;
        font-size: 20px;
    }

    &-link {
        padding-top: 70px;
        display: block;
        font-size: 11px;
        text-decoration: none;
        color: global.$link-color;
    }
}
