
.error {

    &-box{
        width: 200px;
        height: 190px;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;

        font-family: $font-family;
        text-align: center;
    }

    &-title {
        font-size: 40px;
    }

    &-description {
        padding-top: 10px;
        font-size: 20px;
    }

    &-link {
        padding-top: 70px;
        display: block;
        font-size: 11px;
    }
}
