@use 'global';

.main {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.aside {
    width: calc(100% / 4);
    background-color: global.$silverbg-color;
    height: 100vh;
}

.section {
    width: calc(100% / 4 * 3);
    height: 100vh;
}

.header {
    height: 56px;
    background-color: global.$silverbg-color;
    border-bottom: 1px solid global.$silverstroke-color;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;

    &__name {
        font-family: global.$font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        text-align: right;
        color: #1e1e1e;
        align-self: center;
    }

    &-photo {
        padding: 5px 10px;

        &__avatar {
            background-color: global.$silverstroke-color;
            width: 47px;
            height: 47px;
            border-radius: 50%;
        }
    }

    &-profile {
        align-self: center;

        &__icon {
            width: 20px;
            height: 20px;
        }
    }
}

.search {
    height: 56px;
    background-color: global.$silverbg-color;
    box-sizing: border-box;
    padding: 10px;

    &-block {
        background-color: global.$silverstroke-color;
        width: 100%;
        height: 32px;
        border-radius: 8px;
        display: flex;

        &__input {
            flex-grow: 1;
            padding-left: 10px;
            background: none;
            border: 0;
            color: black;
            font-weight: bold;
        }

        &__input:focus {
            outline: none;
        }

        &__input::placeholder {
            color: #999;
        }

        &__button {
            flex: 0 0 20px;
            padding: 8px 5px;
        }
    }
}
