/* stylelint-disable */
@use 'global';
/* stylelint-enable */

.login {
    &-box {
        width: 340px;
        height: 450px;
        position: absolute;
        inset: 0;
        margin: auto;
        background: #fff;
        box-shadow: global.$shadow;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-title {
        font-family: global.$font-family;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: global.$color-name;
        margin-bottom: 40px;
    }
}
