/* stylelint-disable */
@use 'global';
/* stylelint-enable */

.nav {
    font-family: global.$font-family;

    &-list {
        list-style: none;
        padding: 0 0 0 10px;
        margin: 0;

        &-item {
            &__link {
                color: #3369f3;
                text-decoration: none;

                &::before {
                    content: '❱';
                    padding-right: 10px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
