/* stylelint-disable */
@use 'global';
/* stylelint-enable */

.profile {
    &-box {
        box-sizing: border-box;
        width: 510px;
        margin: 0 auto;
        padding-top: 60px;
    }

    &-title {
        font-family: global.$font-family;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: global.$color-name;
        margin-bottom: 40px;
        padding-top: 11px;
    }

    &-close {
        width: 24px;
        height: 24px;
        float: right;
    }

    &-photo {
        width: 130px;
        height: 130px;
        background-color: global.$bg-input;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 48px;
        border-radius: 50%;

        &__image {
            width: 32px;
            height: 32px;
            display: block;
            margin: auto;
        }

        &__offset {
            margin-bottom: 98px;
        }
    }

    &-item {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid global.$silverstroke-color;
        display: flex;
        justify-content: space-between;
        font-family: global.$font-family;

        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: global.$color-name;
        }

        &__value {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            text-align: right;
            color: global.$silver-text;
        }

        &__input {
            text-align: right;
            border: 0;
            padding: 0;
            margin: 0;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: global.$silver-text;
        }

        &__input:focus {
            outline: none;
        }
    }

    &-item:last-child {
        border: 0;
    }

    &-action {
        padding-top: 30px;

        &__link {
            font-family: global.$font-family;
            font-size: 13px;
            display: block;
            padding: 11px 0;
            color: global.$link-color;
            text-decoration: none;
            border-bottom: 1px solid global.$silverstroke-color;
        }

        &__exit {
            font-family: global.$font-family;
            font-size: 13px;
            display: block;
            padding: 11px 0;
            color: red;
            text-decoration: none;
        }

        &__padding {
            padding: 59px 115px 0;
        }

        &-password__padding {
            padding: 161px 115px 0;
        }
    }
}
