/* stylelint-disable */
@use 'global';
/* stylelint-enable */

.reg {
    &-box {
        width: 340px;
        min-height: 655px;
        margin: 50px auto;
        position: relative;
        background: #fff;
        box-shadow: global.$shadow;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-title {
        font-family: global.$font-family;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #1e1e1e;
        margin-bottom: 40px;
    }
}
