.reg {

    &-box {
        width: 340px;
        height: 655px;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;

        background: #FFFFFF;
        box-shadow: $shadow;
        border-radius: 12px;
        box-sizing: border-box;

        padding: 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-title {
        font-family: $font-family;
        text-align: center;

        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #1E1E1E;
        margin-bottom: 40px;
    }

}