@import url('./nav.scss');
@import url('./login.scss');
@import url('./reg.scss');
@import url('./header.scss');
@import url('./chatlist.scss');
@import url('./chatcontent.scss');
@import url('./errors.scss');
@import url('./profile.scss');

/* stylelint-disable */
@use 'global' as global;
/* stylelint-enable */

.body {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    display: block;
}

.link {
    font-family: global.$font-family;
    color: global.$link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mt14 {
    margin-top: 14px;
}

.p20 {
    padding: 20px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.form {
    &__label {
        width: 100%;
        display: block;
        color: #999;
        font-size: 9px;
        font-family: global.$font-family;
        margin-bottom: 16px;
    }

    &-input-error {
        font-family: global.$font-family;
        color: red;
        padding-top: 9px;
        font-size: 10px;
    }

    &-text__input,
    &-email__input,
    &-password__input {
        width: 100%;
        display: block;
        font-family: global.$font-family;
        height: 27px;
        border: 0;
        border-bottom: 1px solid global.$primary-color;

        &:focus {
            outline-width: 0;
        }
    }

    &-error__input {
        border-bottom: 1px solid red;
    }

    &-button {
        width: 100%;
        height: 37px;
        font-family: global.$font-family;
        background: global.$primary-color;
        border-radius: 20px;
        border: 0;
        color: white;
    }

    &__link {
        font-size: 11px;
    }
}
