/* stylelint-disable */
@use 'global';

@import url('./nav.scss');
@import url('./login.scss');
@import url('./reg.scss');
@import url('./header.scss');
@import url('./chatlist.scss');
@import url('./chatcontent.scss');
@import url('./errors.scss');
@import url('./profile.scss');
/* stylelint-enable */

.body {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    display: block;
}

.link {
    font-family: global.$font-family;
    color: global.$link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.invisible-link {
    text-decoration: none;
}

.mt14 {
    margin-top: 14px;
}

.p20 {
    padding: 20px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.form {
    &__label {
        width: 100%;
        display: block;
        color: global.$silver-text;
        font-size: 9px;
        font-family: global.$font-family;
        margin-bottom: 16px;
    }

    &-input-error {
        font-family: global.$font-family;
        color: red;
        padding-top: 9px;
        font-size: 10px;
    }

    &-text__input,
    &-email__input,
    &-password__input {
        width: 100%;
        display: block;
        font-family: global.$font-family;
        height: 27px;
        border: 0;
        border-bottom: 1px solid global.$primary-color;

        &:focus {
            outline-width: 0;
        }
    }

    &-error__input {
        border-bottom: 1px solid red;
    }

    &-button {
        width: 100%;
        height: 37px;
        font-family: global.$font-family;
        background: global.$primary-color;
        border-radius: 20px;
        border: 0;
        color: white;
    }

    &__link {
        font-size: 11px;
    }
}

.waiter {
    text-align: center;
    font-size: 12px;
    font-family: global.$font-family;
}

.error-message,
.success-message {
    text-align: center;
    font-size: 12px;
    font-family: global.$font-family;
    color: global.$error-color;
    font-weight: bold;
    padding-bottom: 10px;
}

.success-message {
    color: global.$success-color;
}

.modal {
    position: fixed;
    z-index: 1000;
    inset: 0;
    overflow: auto;
    background-color: global.$bg-modal;

    &-content {
        position: relative;
        background-color: global.$bg-white;
        margin: 15% auto;
        padding: 20px;
        border: 0;
        border-radius: 12px;
        width: 400px;
        box-shadow: global.$modal-shadow;

        &__close {
            color: global.$silver-text-bg;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        &__close:hover,
        &__close:focus {
            color: global.$link-color;
            text-decoration: none;
            cursor: pointer;
        }

        &__content {
            font-size: 14px;
            padding-top: 30px;
            font-family: global.$font-family;
            text-align: center;
        }
    }
}
