$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-color: #068832;
$button-radius: 8px;
$shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
$link-color: #3369F3;
$silverbg-color: #FBFBFB;
$silverstroke-color: #EAEAEA;

@import "./login.scss";
@import "./reg.scss";
@import "./header.scss";
@import "./chatlist.scss";
@import "./chatcontent.scss";

.body {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    display: block;
}

.link {
    font-family: $font-family;
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mt14 {
    margin-top: 14px;
}

.hidden {
    display: none;
}

.form {

    &__label {
        width: 100%;
        display: block;
        color: #999999;
        font-size: 9px;
        font-family: $font-family;
        margin-bottom: 16px;
    }

    &-input-error {
        color: red;
        padding-top: 9px;
    }

    &-text__input,
    &-email__input,
    &-password__input {
        width: 100%;
        display: block;
        font-family: $font-family;
        height: 27px;
        border: 0;
        border-bottom: 1px solid $primary-color;

        &:focus {
            outline-width: 0;
        }
    }

    &-error__input {
        border-bottom: 1px solid red;
    }

    &-button {
        width: 100%;
        height: 37px;
        font-family: $font-family;
        background: $primary-color;
        border-radius: 20px;
        border: 0;
        color: white;
    }

}