$font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
$primary-color: #068832;
$button-radius: 8px;
$shadow: 0 0 6px rgb(0 0 0 / 14%);
$link-color: #3369f3;
$silverbg-color: #fbfbfb;
$silverstroke-color: #eaeaea;
$chat-selected: #e4fdf1;
$bg_input: #efefef;
$silver_text: #999;
$silver_text_bg: #525252;
$question_bg: #e4fdf1;

@import url("./nav.scss");
@import url("./login.scss");
@import url("./reg.scss");
@import url("./header.scss");
@import url("./chatlist.scss");
@import url("./chatcontent.scss");
@import url("./errors.scss");
@import url("./profile.scss");

.body {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    display: block;
}

.link {
    font-family: $font-family;
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mt14 {
    margin-top: 14px;
}

.p20 {
    padding: 20px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.form {
    &__label {
        width: 100%;
        display: block;
        color: #999;
        font-size: 9px;
        font-family: $font-family;
        margin-bottom: 16px;
    }

    &-input-error {
        font-family: $font-family;
        color: red;
        padding-top: 9px;
        font-size: 10px;
    }

    &-text__input,
    &-email__input,
    &-password__input {
        width: 100%;
        display: block;
        font-family: $font-family;
        height: 27px;
        border: 0;
        border-bottom: 1px solid $primary-color;

        &:focus {
            outline-width: 0;
        }
    }

    &-error__input {
        border-bottom: 1px solid red;
    }

    &-button {
        width: 100%;
        height: 37px;
        font-family: $font-family;
        background: $primary-color;
        border-radius: 20px;
        border: 0;
        color: white;
    }

    &__link {
        font-size: 11px;
    }
}
