<div class="content-chat-content-answer-image">
    <img src="{{src}}" class="content-chat-content-answer-image__image" alt="Изображение в чате от {{time}}">
    <br>
    <div class="content-chat-content-answer-image__time">
        {{time}}
    </div>
</div>
<div class="clear"></div>
