<div class="profile-item">
    <div class="profile-item__title">{{title}}</div>
    <div class="profile-item__value">
        <input type="{{type}}" name="{{name}}" class="profile-item__input" value="{{value}}">
    </div>
</div>