<div class="content-chat-content-question-text">
    <div class="content-chat-content-question-text__text">
        {{text}}
    </div>
    <div class="content-chat-content-question__time">
        <img src="/galki.svg">
        {{time}}
    </div>
</div>
<div class="clear"></div>